<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
		        	<li><a href="/about">CV</a></li>
	        		<li><a href="/cv">Research</a></li>
	        		<li><a href="/blog">Code</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mbc@ps.au.dk">email</a></li>
	        		<li><a href="http://pure.au.dk/portal/en/persons/martin-bisgaard-christiansen%2827dd10ea-b6e6-4be0-a8af-ec1e04d9cf58%29/persons/martin-bisgaard-christiansen%2827dd10ea-b6e6-4be0-a8af-ec1e04d9cf58%29.html">AU website</a></li>
				</ul>
			</footer>
		</body>
	</html>
